


.img1 {
    margin: 20px;
    display: inline;
    text-align: center;
}

.img2 {
    margin: 20px;
    display: inline;
    text-align: center;
}

.img3 {
    margin: 20px;
    display: inline;
    text-align: center;
}